extends base.pug

block scripts
  script(src='../static/script.js')
block style
  style
      include ../static/style.css

block content
    section#intro 
        div 
            h1 Welcome's To Mercy Dance Academy
            h2 Eat Sleep Dance Repeat

    section#mission 
        h1 Our Mission 
        div.card
            div
                h3 Dance Perfection
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur rerum saepe dolore tempore, provident porro suscipit, eos ab non accusantium quibusdam dolorum nisi quos natus nesciunt optio magnam accusamus animi.
            div
                h3 Expert Teaching
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur rerum saepe dolore tempore, provident porro suscipit, eos ab non accusantium quibusdam dolorum nisi quos natus nesciunt optio magnam accusamus animi.

            div
                h3 Dance The Way You Like
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur rerum saepe dolore tempore, provident porro suscipit, eos ab non accusantium quibusdam dolorum nisi quos natus nesciunt optio magnam accusamus animi.