doctype html
html
  head
    title Mercy Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Class Info]
            li #[a(href='/contact') Contact Us]
    section#intro 
        div 
            h1 Welcome's To Mercy Dance Academy
            h2 Eat Sleep Dance Repeat

    section#mission 
        h1 Our Mission 
        div.card
            div
                h3 Dance Perfection
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur rerum saepe dolore tempore, provident porro suscipit, eos ab non accusantium quibusdam dolorum nisi quos natus nesciunt optio magnam accusamus animi.
            div
                h3 Expert Teaching
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur rerum saepe dolore tempore, provident porro suscipit, eos ab non accusantium quibusdam dolorum nisi quos natus nesciunt optio magnam accusamus animi.

            div
                h3 Dance The Way You Like
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur rerum saepe dolore tempore, provident porro suscipit, eos ab non accusantium quibusdam dolorum nisi quos natus nesciunt optio magnam accusamus animi.

    footer#footer 
        p MercyDanceAcademy.com &copy; Copyright | All Right Reserved        




    script
      include ../static/script.js